body 
{
 	    background-image: url("blusher.jpg");
 	    background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center ; 
      background-size: cover;
  }

.fit_table{
  margin-top:100px;
  width: 50%;
  margin-left:290px;
  /*margin-left: 300px;*/
}